Note, this route won't work since I haven't added my mashape key. You'll need to add your own to get this working.

<div>Yoda speak should go here: <%= @response %></div>

<div>Other routes in this app are</div>
<div>/index - head here first. this mocks up a usre input that we make an api call with</div>
<div>/search - this mocks up a 'waiting' page where the user waits for our api call to finish and data to get saved in our database</div>


